/* FONTS */
body,h1,h2,h3,h4,h5,h6,p,a,span,button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.comment-navigation a,
.drawer .tax-widget a,
.su-button,
h3.comments-title {
  font-family: "Avenir LT W05_45 Book",sans-serif;
}
h1,h2,h3,h4,h5,
.textwidget strong,
.services-grid__item span {
  font-family: "Avenir LT W05_85 Heavy",sans-serif;
}

html,body {
  font-size: 16px;
  background-color: #fff;
}