
.wp-block-image {
	figcaption {
		color: $sallys_black;
		text-align: right;
		font-weight: normal;
		margin-top: 0.25em;
	}
}
#page {
	.wp-block-image.aligncenter {
		margin-bottom: 5rem;
	}
}

.entry-content > p {
	margin: 1.5rem auto 2.5rem;
	widows: 3;
	@include breakpoint( medium ) {
		max-width: 36.5em;
	}
}

.services-grid, .client-slider {
	margin: 0 -2.5% 3.5rem -2.5%;
}

.services-grid,.clients-grid {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}
.grid__item {
	height: 13rem;
	width: 45%;
	margin: 2.5%;
	padding: 2rem;
	box-sizing: border-box;
	background: $sallys_gray--light;
	float: left;
	@include breakpoint( medium ) {
		width: 20%;
	}
	&.services-grid__item {
		text-align: center;
		background-color: $sallys_gray;
	}
	&.client-grid__item {
		padding: 0;
		margin: 2.5%;
		img {
			width: 100%;
			height: auto;
			mix-blend-mode: multiply;
		}
	}
	.grid__item-inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& > * {
			max-width: 100%;
		}
	}
}

ul.slick-dots {
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 0;
	li {
		list-style: none;
		margin-right: 0.5rem;
		&:first-child:last-child {
			display: none;
		}
	}
	button {
		background-color: $sallys_gray;
		border: 1px solid darken( $sallys_gray, 0.5 );
		border-radius: 50%;
		font-size: 0;
		padding: 0.5rem;
	}
}


