.contact-details {
	a {
		color: $sallys_white;
		text-decoration: none;
	}
	.container--header-wrapper {
		padding-top: 2.5rem;
		background-color: $sallys_gray--light;
	}
	.container--footer {
		background-color: $sallys_black;
		color: $sallys_white;
	}
	.footer-column {
		display: flex;
		justify-content: flex-start;
		.footer__icon {
			width: 3rem;
			height: 2.25rem;
			margin-right: 2rem;
			margin-top: 0.5rem;
		}
		#text-3 {
			flex-grow: 1;
			li {
				display: inline-block;
				margin-right: 2rem;
			}
		}
	}
}

.footer-bottom {
	padding: 0;
}

.site-footer {
	padding: 1.5rem 0;
	background-color: $sallys_white;

  .social-navigation ul li {
    float: right;
    a {
      color: $sallys_gray--dark;
      font-size: 17px;
      margin-left: 10px;
    }
  }
}


.impressum-and-or-privacy {
	float: right;
	.link-to-privacy-statement a {
		color: $sallys_gray--dark;
	}
}

.footer-tagline, .impressum-and-or-privacy {
	margin-top: 0;
	max-width: 50%;
}

.container--colophon {
	@include breakpoint( large ) {
		max-width: 1300px;
		padding: 0;
	}
}