.container--top-nav {
	@include breakpoint( large ) {
		max-width: 1300px;
		padding: 0;
	}
}
.site-header {
	background-color: transparent;
}
.site-identity {
	margin: 3% 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	@include breakpoint( medium ) {
		margin: 4% 0 5%;
	}
}
.custom-logo-link {
	max-width: 400px;
}
.site-title-wrap {
	vertical-align: bottom;
	flex-grow: 1;
	@include breakpoint( medium ) {
		max-width: 40%;
	}
}
.top-navigation-right {
	flex-grow: 1;
	@include breakpoint( medium ) {
		max-width: 60%;
	}
	.main-navigation {
		vertical-align: bottom;
	}
}
.titles-wrap {
	display: none;
}