// 2. Breakpoints
// --------------

/* Responsive media query mixins */
@mixin breakpoint($point) {
    @if $point == large {
		@media ( min-width: 84em ) { @content; }
	}
	@if $point == medium {
		@media only screen and (min-width: 40em) { @content; }
	}
	@else if $point == small {
		@media only screen and (max-width: 40em) { @content; }
	}
}