.main-navigation {
	a {
		color: $sallys_black;
		font-size: 1.125rem;
	}

	.site-identity & {
		ul {
			line-height: 1em;
		}
	}
	@include breakpoint( large ) {
		li.menu-item:last-child {
			padding-right: 0;
		}
	}
	@include breakpoint( medium ) {
		ul li a {
			line-height: 1;
			margin-bottom: 0;
			font-weight: normal;
		}
	}
}