#page {
	padding-top: 0;
	.featured-image {
		margin: 0 auto;
		img {
			width: 100%;
			max-width: 1300px;
		}
	}
}

.home #page .container,
#page.container {
	background-color: $sallys_gray--light;
	padding-top: 5%;
}

#content {
	padding-bottom: 0;
}
#page, footer.contact-details {
	h2 {
		font-size: 2.25em;
		text-transform: uppercase;
		text-align: center;
		&.sallys_header--white {
			color: $sallys_white;
		}
		&::after {
			content: '';
			display: block;
			width: 8rem;
			margin: 1.5rem auto;
			border-bottom: 1px solid $sallys_gray--dark;
		}
		&.sallys_header--white::after {
			border-bottom-color: $sallys_white;
		}
	}
}