/* VARIABLES */
/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: https://www.linotype.com
*/
/*@font-face{
  font-family:"Avenir LT W02_45 Book1475510";
  src:url("../fonts/1475510/066fbbc6-dd8d-48ca-89fb-58034872ab60.eot?#iefix");
  src:url("../fonts/1475510/066fbbc6-dd8d-48ca-89fb-58034872ab60.eot?#iefix") format("eot"),url("../fonts/1475510/9f6dfbe4-ae47-4f8e-b887-c99113fa09b1.woff2") format("woff2"),url("../fonts/1475510/a9d360f4-5161-43ab-8475-b46d159844f8.woff") format("woff"),url("../fonts/1475510/ddda1572-4388-4d33-98d2-8f6e68113b5b.ttf") format("truetype");
}
@font-face{
  font-family:"Avenir LT W02_85 Heavy1475546";
  src:url("../fonts/1475546/4a5082cd-dbf3-4cc4-903d-df495de21506.eot?#iefix");
  src:url("../fonts/1475546/4a5082cd-dbf3-4cc4-903d-df495de21506.eot?#iefix") format("eot"),url("../fonts/1475546/21d611aa-91cd-462c-9896-b71b85d3cca9.woff2") format("woff2"),url("../fonts/1475546/9594894d-c00f-4259-842f-d7991a3af9ee.woff") format("woff"),url("../fonts/1475546/e5f40243-1250-46a5-b1be-9cdafabc981b.ttf") format("truetype");
}
@font-face{
  font-family:"Avenir LT W01_45 Book1475508";
  src:url("../fonts/1475508/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix");
  src:url("../fonts/1475508/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix") format("eot"),url("../fonts/1475508/065a6b14-b2cc-446e-9428-271c570df0d9.woff2") format("woff2"),url("../fonts/1475508/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff") format("woff"),url("../fonts/1475508/c70e90bc-3c94-41dc-bf14-caa727c76301.ttf") format("truetype");
}
@font-face{
  font-family:"Avenir LT W01_85 Heavy1475544";
  src:url("../fonts/1475544/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
  src:url("../fonts/1475544/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"),url("../fonts/1475544/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),url("../fonts/1475544/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"),url("../fonts/1475544/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype");
}
@font-face{
  font-family:"Avenir LT W04_45 Book1475512";
  src:url("../fonts/1475512/920c15d4-2d04-48b5-8e84-e3bf5e3828d9.eot?#iefix");
  src:url("../fonts/1475512/920c15d4-2d04-48b5-8e84-e3bf5e3828d9.eot?#iefix") format("eot"),url("../fonts/1475512/fe2d00d9-aadd-40f7-a144-22a6f695aa8f.woff2") format("woff2"),url("../fonts/1475512/c3795fc9-e264-4795-9a19-b57086aa6f7b.woff") format("woff"),url("../fonts/1475512/ad6f5b5d-c8dd-4108-a4d8-fa659f795313.ttf") format("truetype");
}
@font-face{
  font-family:"Avenir LT W04_85 Heavy1475548";
  src:url("../fonts/1475548/7ed39c78-4da5-42df-831b-798b2272d1ac.eot?#iefix");
  src:url("../fonts/1475548/7ed39c78-4da5-42df-831b-798b2272d1ac.eot?#iefix") format("eot"),url("../fonts/1475548/e9b44b79-923f-49b3-837c-290bc70628cc.woff2") format("woff2"),url("../fonts/1475548/fbd14ec6-aa86-4ccd-af83-931d5eb79910.woff") format("woff"),url("../fonts/1475548/0d230b6d-eb52-48b7-9c4b-c3f876465fe6.ttf") format("truetype");
}*/
@font-face {
  font-family: "Avenir LT W05_45 Book";
  src: url("../fonts/5687178/c4c68310-7910-47fe-aafe-fb8e8c7c3fc3.eot?#iefix");
  src: url("../fonts/5687178/c4c68310-7910-47fe-aafe-fb8e8c7c3fc3.eot?#iefix") format("eot"), url("../fonts/5687178/2b019de4-ece8-4a0d-b8b4-72866ca60c27.woff2") format("woff2"), url("../fonts/5687178/b8885363-76e9-4313-bd2f-446d01014e36.woff") format("woff"), url("../fonts/5687178/c9947fd3-3bc8-4301-9642-9e30604027f3.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir LT W05_85 Heavy";
  src: url("../fonts/5687390/bc3f81f2-42cf-45a9-a1c3-ff3c5198db31.eot?#iefix");
  src: url("../fonts/5687390/bc3f81f2-42cf-45a9-a1c3-ff3c5198db31.eot?#iefix") format("eot"), url("../fonts/5687390/0d51f252-d47b-421f-8ffe-eb417dce1b53.woff2") format("woff2"), url("../fonts/5687390/b34d406c-b12e-4b82-892e-1bfab6517cce.woff") format("woff"), url("../fonts/5687390/da70c2a6-9ec1-46d2-9208-8e8278d72406.ttf") format("truetype");
}
/* Responsive media query mixins */
/* ADDITIONAL STYLES */
/* FONTS */
body, h1, h2, h3, h4, h5, h6, p, a, span, button,
input[type=button],
input[type=reset],
input[type=submit],
.button,
.comment-navigation a,
.drawer .tax-widget a,
.su-button,
h3.comments-title {
  font-family: "Avenir LT W05_45 Book", sans-serif;
}

h1, h2, h3, h4, h5,
.textwidget strong,
.services-grid__item span {
  font-family: "Avenir LT W05_85 Heavy", sans-serif;
}

html, body {
  font-size: 16px;
  background-color: #fff;
}

@media (min-width: 84em) {
  .container--top-nav {
    max-width: 1300px;
    padding: 0;
  }
}

.site-header {
  background-color: transparent;
}

.site-identity {
  margin: 3% 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
@media only screen and (min-width: 40em) {
  .site-identity {
    margin: 4% 0 5%;
  }
}

.custom-logo-link {
  max-width: 400px;
}

.site-title-wrap {
  vertical-align: bottom;
  flex-grow: 1;
}
@media only screen and (min-width: 40em) {
  .site-title-wrap {
    max-width: 40%;
  }
}

.top-navigation-right {
  flex-grow: 1;
}
@media only screen and (min-width: 40em) {
  .top-navigation-right {
    max-width: 60%;
  }
}
.top-navigation-right .main-navigation {
  vertical-align: bottom;
}

.titles-wrap {
  display: none;
}

#page {
  padding-top: 0;
}
#page .featured-image {
  margin: 0 auto;
}
#page .featured-image img {
  width: 100%;
  max-width: 1300px;
}

.home #page .container,
#page.container {
  background-color: #F1f1f1;
  padding-top: 5%;
}

#content {
  padding-bottom: 0;
}

#page h2, footer.contact-details h2 {
  font-size: 2.25em;
  text-transform: uppercase;
  text-align: center;
}
#page h2.sallys_header--white, footer.contact-details h2.sallys_header--white {
  color: #FFFFFF;
}
#page h2::after, footer.contact-details h2::after {
  content: "";
  display: block;
  width: 8rem;
  margin: 1.5rem auto;
  border-bottom: 1px solid #4A4A4A;
}
#page h2.sallys_header--white::after, footer.contact-details h2.sallys_header--white::after {
  border-bottom-color: #FFFFFF;
}

.main-navigation a {
  color: #444444;
  font-size: 1.125rem;
}
.site-identity .main-navigation ul {
  line-height: 1em;
}
@media (min-width: 84em) {
  .main-navigation li.menu-item:last-child {
    padding-right: 0;
  }
}
@media only screen and (min-width: 40em) {
  .main-navigation ul li a {
    line-height: 1;
    margin-bottom: 0;
    font-weight: normal;
  }
}

.wp-block-image figcaption {
  color: #444444;
  text-align: right;
  font-weight: normal;
  margin-top: 0.25em;
}

#page .wp-block-image.aligncenter {
  margin-bottom: 5rem;
}

.entry-content > p {
  margin: 1.5rem auto 2.5rem;
  widows: 3;
}
@media only screen and (min-width: 40em) {
  .entry-content > p {
    max-width: 36.5em;
  }
}

.services-grid, .client-slider {
  margin: 0 -2.5% 3.5rem -2.5%;
}

.services-grid::after, .clients-grid::after {
  content: "";
  display: block;
  clear: both;
}

.grid__item {
  height: 13rem;
  width: 45%;
  margin: 2.5%;
  padding: 2rem;
  box-sizing: border-box;
  background: #F1f1f1;
  float: left;
}
@media only screen and (min-width: 40em) {
  .grid__item {
    width: 20%;
  }
}
.grid__item.services-grid__item {
  text-align: center;
  background-color: #E2E3E3;
}
.grid__item.client-grid__item {
  padding: 0;
  margin: 2.5%;
}
.grid__item.client-grid__item img {
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
}
.grid__item .grid__item-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid__item .grid__item-inner > * {
  max-width: 100%;
}

ul.slick-dots {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0;
}
ul.slick-dots li {
  list-style: none;
  margin-right: 0.5rem;
}
ul.slick-dots li:first-child:last-child {
  display: none;
}
ul.slick-dots button {
  background-color: #E2E3E3;
  border: 1px solid #e1e2e2;
  border-radius: 50%;
  font-size: 0;
  padding: 0.5rem;
}

.contact-details a {
  color: #FFFFFF;
  text-decoration: none;
}
.contact-details .container--header-wrapper {
  padding-top: 2.5rem;
  background-color: #F1f1f1;
}
.contact-details .container--footer {
  background-color: #444444;
  color: #FFFFFF;
}
.contact-details .footer-column {
  display: flex;
  justify-content: flex-start;
}
.contact-details .footer-column .footer__icon {
  width: 3rem;
  height: 2.25rem;
  margin-right: 2rem;
  margin-top: 0.5rem;
}
.contact-details .footer-column #text-3 {
  flex-grow: 1;
}
.contact-details .footer-column #text-3 li {
  display: inline-block;
  margin-right: 2rem;
}

.footer-bottom {
  padding: 0;
}

.site-footer {
  padding: 1.5rem 0;
  background-color: #FFFFFF;
}
.site-footer .social-navigation ul li {
  float: right;
}
.site-footer .social-navigation ul li a {
  color: #4A4A4A;
  font-size: 17px;
  margin-left: 10px;
}

.impressum-and-or-privacy {
  float: right;
}
.impressum-and-or-privacy .link-to-privacy-statement a {
  color: #4A4A4A;
}

.footer-tagline, .impressum-and-or-privacy {
  margin-top: 0;
  max-width: 50%;
}

@media (min-width: 84em) {
  .container--colophon {
    max-width: 1300px;
    padding: 0;
  }
}